  <div class="content container">
   
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>, <%= name%></p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    

   

   <form>
    
    Frist name:<br>
    <input type="text" name="firstname" require>
    <br>
    Last Name:<br>
    <input type="text" name="lastname" require>
    <br>
    <button id="submitButton">Submit</button>
    
</form>
</div>
